body {background-color:#6a5acd; font-size: 18px; color: #293133; text-align:center; }
header{background-color:#c5d0e6;  border: 5px solid #89a8ff;}
h2{ color:#ffdb8b} 
main {color:#ccccff}
footer{ background-color: #111a3d;
  border: 5px solid #89a8ff;}
img { border: 5px solid #89a8ff;}
